html, body {
    padding: 0px;
    margin: 0px;
    height: 100%;
}

#webView {
    box-sizing: border-box;
    padding-top: 32px;
    width:100%;
    height:100%;
}

#clipRect {
    display: none;
    opacity: 0.8;
    background-color: lightblue;
    position: absolute;
    padding: 0px;
    mergin: 0px;
}

#controller {
    position: absolute;
    top : 0px;
    left : 0px;
    margin: 5px;
    width: 100%;
    height: 22px;
}

#text-url {
    width: 100%;
    box-sizing: border-box;
}
